// This is where your styles can go, import any other scss or css files here or write your own style directly below

body,
body * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: 30vh;
  display: grid;
  align-items: flex-end;

  @media screen and (min-width: 1px) {
    background-image: url("../images/hero-mobile.jpg");
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: 1024px) {
    background-image: url("../images/hero-desktop.jpg");
  }

  h1 {
    text-align: center;
    color: #6c462f;
  }
}

figure,
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3em;
}

input,
button {
  width: 300px;
  margin: 0em 1em 1em 1em;
  padding: 1em;
}

.loader {
  display: none;
}

.error {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 2rem;
}

.weather {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;

  &__card {
    width: 250px;
    height: 600px;
    padding: 1.5em;
    border: solid 1px black;
    display: grid;
    justify-items: center;
    margin: auto;
    margin-bottom: 2em;

    h2 {
      margin: 0;
    }
  }

  .temperature {
    font-size: 2rem;
    font-weight: 900;
  }

  img {
    width: 75px;
  }
}
