// This is where your styles can go, import any other scss or css files here or write your own style directly below

body,
body * {
  box-sizing: border-box;
}

header {
  height: 30vh;

  h1 {
    text-align: center;
  }
}

figure,
form {
  display: grid;
  place-items: center;
}

input,
button {
  width: 300px;
  margin-bottom: 1em;
  padding: 1em;
}

.loader {
  display: none;
}

.weather {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;

  &__card {
    width: 250px;
    height: 600px;
    border: solid 1px black;
    display: grid;
    justify-items: center;
    margin: auto;
    margin-bottom: 2em;
  }

  img {
    width: 75px;
  }
}
